.arrow-up{display:none}

.arrow-up.active{
    font-size:45px;
    display:flex;
    justify-content: center;
    align-items:center;
    color:var(--color-lightbrown);
    position:absolute;
    bottom:0;
    right:4.5px;
    position:fixed;
    padding:0.5em;
    animation:mov 0.9s linear infinite;
    width:25px;
    height:25px;
    border:3px solid var(--color-brown);
    border-radius:150px;
    cursor:pointer;
    text-decoration: none;
    z-index:2;
    
}



@keyframes mov {
    from {
         bottom:15px
     }
     to {
         bottom:5px;
     }
 }

