body {
    height:100vh;
    width:100%;
    min-width: 100%;
    display:flex;
    justify-content: center;
    
    background-color:var(--color-lightBrown);
    color:var(--color-white);
}


nav
{   min-width: 100%;
    display:flex;
    justify-content: space-around;
    height:5em;
    padding:1em;
    align-items: center;

}

.logoPicture{

    width:50px;
    height:50px;
    margin-right: 10px;
    border-radius: 150px;
}
.logo
{  
 
    display:flex;
    height:2.5em;
    align-items: center;
    margin:10px;
    flex:50%;
}

.logo h1{
   letter-spacing: 5px;
   font-weight: bold;
   text-transform: uppercase;
 }

.menu{
    flex:50%;
    display:flex;
    justify-content: space-around;
   
  
}
.menu li{
    cursor:pointer;
    text-transform: uppercase;
  
    margin:5px;
    
    }

.menu li:hover {
    color:var(--color-black);
    border-bottom:2px solid var(--color-black);
}


/* RESPONSIVE NAVIGATOR */

.container-responsive-menu  {
    width:100%;
    height:0px;
    display:flex;
    visibility:hidden;
    background-color:var(--color-black);
    text-transform:uppercase;
    justify-content: space-around;
    align-items: center;
    transition:0.4s linear;
  
}

.container-responsive-menu.active{
    
    height:40px;
    visibility:visible;
}




